<div class="mainChannel">
    <div></div>
    <div class="messages"></div>
    <div class="DivMessageBox">
        <input class="composeMessageBox" size="100" type="text" placeholder="Type a new message" > 
    </div>
    <div class="IconsBelowMessageBox">
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="icon-park-outline:edit-name" style="color: #808080;" data-width="18" data-height="18"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="emojione-monotone:exclamation-mark" style="color: #808080;" data-width="18" data-height="18"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="ant-design:paper-clip-outlined" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="icomoon-free:loop" style="color: #808080;" data-width="18" data-height="18"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="bi:emoji-smile" style="color: #808080;" data-width="18" data-height="18"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="fluent:gif-20-regular" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="fluent:sticker-20-regular" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="akar-icons:schedule" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="emojione-monotone:raising-hands" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="fluent:approvals-app-16-regular" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="bi:three-dots" style="color: #808080;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px; margin-left: 350px;"><span class="iconify" data-icon="ant-design:send-outlined" style="color: #808080;" data-width="20" data-height="20"></span></button>
    </div>
</div>
