<div class="channels" >
    <div>
        <div class="channelClass" (click)="df('Activity')">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="fluent:alert-48-regular" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 2px;">Activity</p>
        </div>
        <div class="channelClass1" (click)="df('Chat')">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="bi:chat-dots" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 7px;">Chat</p>
        </div>
        <div class="channelClass1">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="ph:microsoft-teams-logo-thin" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 4px;">Teams</p>
        </div>
        <div class="channelClass1" >
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="akar-icons:calendar" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 1px;">Calendar</p>
        </div>
        <div class="channelClass1">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="akar-icons:phone" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 7px;">Calls</p>
        </div>
        <div class="channelClass1">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="ph:files-thin" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 7px;">Files</p>
        </div>
        <div style="margin-top: 25px;margin-left: 18px;">
            <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="bi:three-dots" style="color: white;" data-width="24" data-height="24"></span></button>
        </div>
        <div style="margin-top: 150px;margin-left: 18px;">
            <button style="border: 0px;background: transparent;"><span class="iconify" data-icon="charm:apps" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 7px;">Apps</p>
        </div>
        <div style="margin-top: 15px;margin-left: 18px;">
            <button style="border: 0px;background: transparent;"><span class="iconify" data-icon="bx:help-circle" style="color: white;" data-width="24" data-height="24"></span></button>
            <p style="margin-top: 1px;margin-left: 7px;">Help</p>
        </div>
    </div>
</div>
