<div class="topBar">
    <div style="padding-top: 7px;">
        <button style="background: transparent;border: 0px;padding-left: 40px;" (click)="ddf()"><span class="iconify" data-icon="mdi:less-than" style="color: white;" data-width="20" data-height="20"></span></button>
        <button style="background: transparent;border: 0px;"><span class="iconify" data-icon="mdi:greater-than" style="color: white;" data-width="20" data-height="20"></span></button>
        <input class="topBarSearch" [(ngModel)]="value1" name="search" onclick="changeText()" size="105" >
        <button class="Profile"><img src="../../assets/profile.png" width="27px" height="27px"></button>
    </div>
</div>